.image {
    position: relative;
}

.image img{
    /* background-color:linear-gradient(rgba(0, 0, 0, 0.8), gray); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    border-radius: 40px;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
}

.art {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(192,193,201);
}

.top {
    margin: 0;
    padding-top: 10px;
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 26px;
}

.btn {
    position: absolute;
    bottom: 40px;
    left: 30px;
    display: flex;
}

.monthly {
    position: absolute;
    right: 30px;
    bottom: 60px;
    color: gray;
}

.figure {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #ffff;
}


.play {
    padding: 20px;
    border-radius: 20px;
    background-color: #15111e;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.play:hover {
    background-color: #ffff;
    color: #15111e;
}

.follow {
    margin-left: 10px;
    padding: 20px;
    border-radius: 20px;
    color: #ffff;
    background-color: transparent;
    border: 1px solid #15111e;
    height: 30px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.follow:hover {
    background-color: #15111e;
    color: #ffff;
}
