.playlist {
    padding-top: 20px;
    height: 400px;
    overflow-y: scroll;
    width: 100%;
}

.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tit {
  width: 20%;
}

.tim {
  width: 20%;
}

.al {
  width: 20%;
}

.artist {
  width: 20%;
}



